select {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-radius: 6px;
  background: transparent;
}

.notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #F9F6FD;
}

.notfound-container h1 {
  color: #6823DB;
  font-size: 48px;
  font-weight: 600;
  padding: 50px;
}

.notfound-container img {
  margin-top: 100px;
  width: 500px;
}

.link-btn {
  width: 200px;
  text-align: center;
  margin: 100px 0;
  padding: 10px;
  border: 1px solid #6A2CD8;
  border-radius: 6px;
  color: white;
  background-color: #6A2CD8;
  transition: 0.5s;
  text-decoration: none;
}

.link-btn:hover {
  border: 1px solid #6A2CD8;
  color: #6A2CD8;
  background-color: transparent;
  transition: 0.5s;
}

.dashboard-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #F9F6FD;
}

.nav-container {
  background-color: white;
  margin: 30px;
  border-radius: 10px;
  color: #585B61;
  width: 15vw;
}

.nav-container h3 {
  margin-bottom: 60px;
  padding: 20px;
  text-align: center;
}

.nav-container ul {
  list-style-type: none;
}

.nav-container li {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 20px;
}

.nav-container li:hover {
  border-right: 4px solid #6A2CD8;
  background: rgb(106,44,216);
  background: linear-gradient(270deg, rgba(106,44,216,0.30575980392156865) 0%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
}

.nav-container li img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.bar-container {
  display: flex;
  justify-content: center;
  background-color: white;
  margin: 30px 30px 30px 0;
  border-radius: 10px;
  color: #585B61;
  width: 80vw;
  height: 8vh;
}

.bar-container h3 {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  margin: 0 80px;
  font-weight: 400;
}

.components-container {
  background-color: white;
  margin: 0 30px 30px 0;
  border-radius: 10px;
  color: #585B61;
  width: 80vw;
  height: 90vh;
  padding: 30px;
}

.components-container ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.5s;
}

.components-container ul li {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.components-container ul:hover {
  background-color: #E3D7F8;
  transition: 0.5s;
}

.components-container ul li img {
  transform: rotate(90deg);
  width: 20px;
  height: 20px;
  transition: 0.5s;
}

.components-container ul li img:hover {
  transform: scale(1.3);
  transition: 0.5s;
}


.task-tag  {
  background-color: #6A2CD8;
  width: 150px;
  text-transform: uppercase;
  justify-content: center;
  color: white;
}

.task-task {
  background: linear-gradient(to right, #000000 80%, #FFFFFF 100%);
  background-clip: text;
  color: transparent;
  transition: 0.3s;
  overflow: hidden;
  white-space: nowrap;
  width: 1000px;
  padding-left: 10px;
  text-align: start;
}

.task-status {
  width: 150px;
  justify-content: center;
}

.task-date {
  width: 150px;
  justify-content: center;
}

.selectButton {
  border-right: 4px solid #6A2CD8;
  background: rgb(106,44,216);
  background: linear-gradient(270deg, rgba(106,44,216,0.30575980392156865) 0%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
}

.green {
  background-color: rgb(217, 255, 159);
}

.red {
  background-color: rgb(255, 167, 167);
}

.grey {
  background-color: grey;
  color: white;
}

.container-new-task {
  display: flex;
  justify-content: center;
}

.new-task {
  margin-top: 30px;
  width: 300px;
  height: 25px;
  border-radius: 10px;
  border: none;
  background-color: #6A2CD8;
  color: white;
  font-size: 15px;
  font-weight: 400;
  transition: 0.5s;
}

.new-task:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

button:disabled {
  background-color: grey;
}

button:hover:disabled {
  cursor: not-allowed;
  background-color: grey;
  color: white;
}

.header-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header-task select {
  margin-left: 10px;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.no-task-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-task-image-container img {
  width: 500px;
  margin: 80px 0;
}

.footer-container {
  display: none;
}

@media only screen and (max-width: 1300px) {
  .nav-container {
    display: none;
  }

  .footer-container {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100vw;
  }

  .footer-container ul {
    display: flex;
    list-style-type: none;
    width: 100vw;
    justify-content: space-between;
  }
  
  .footer-container li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 20px;
    width: 25%;
  }

  .footer-container li img {
    width: 10px;
    height: 10px;
    margin: 0;
  }

  .selectButton {
    border-right: none;
    border-top: 4px solid #6A2CD8;
    background: rgb(106,44,216);
    background: linear-gradient(270deg, rgba(106,44,216,0.30575980392156865) 0%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
  }

  .components-container {
    width: 100vw;
    margin: 0;
  }

  .bar-container {
    width: 100vw;
    margin: 30px 0;
  }
}

@media only screen and (max-width: 1100px) {
  .notfound-container h1 {
    font-size: 38px;
    padding: 20px;
  }
  
  .notfound-container img {
    margin-top: 50px;
    width: 300px;
  }

  .bar-container h3 {
    font-size: 14px;
    margin: 0 40px;
  }

  .header-task h1 {
    font-size: 26px;
  }

  .components-container ul li {
    font-size: 12px;
  }

  .task-task {
    width: 800px;
  }
}

@media only screen and (max-width: 750px) {
  .notfound-container h1 {
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }
  
  .notfound-container img {
    margin-top: 50px;
    width: 250px;
  }

  .header-task select {
    font-size: 10px;
  }

  .bar-container h3 {
    margin: 0;
  }

  .task-task {
    width: 400px;
    padding-left: 5px;
  }
}

@media only screen and (max-width: 550px) {
  .bar-container h3 {
    font-size: 12px;
    padding: 10px;
  }

  .components-container {
    padding: 5px;
  }

  .components-container ul li {
    font-size: 9px;
  }
}

@media only screen and (max-width: 350px) {
  .components-container ul li {
    font-size: 8px;
  }

  .task-date {
    width: 200px;
  }

  .task-status {
    width: 200px;
  }

  .task-task {
    width: 300px;
  }

  .task-tag {
    width: 200px;
  }
}



